extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`, autoplay=true)
    .video__info
        a(href=routes.editVideo(video.id)) video edit
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description